<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Service health checker</title>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>

<body>

  <nav class="navbar navbar-inverse navbar-static-top shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="/">Service health checker</a>

      <ul class="nav navbar-nav">
        <li>
          <a href="/">Refresh</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron" style="padding:40px;">
    <div class="container">
      <h1>Service health checker app!</h1>
      <p>upstream services defined: <strong>
          <%= data.length %>
        </strong></p>

      <p style="color: green">services up: <strong>
          <%= data.filter(d=> d.result).length %>
        </strong></p>

      <p style="color: crimson">services down: <strong>
          <%= data.filter(d=> !d.result).length %>
        </strong></p>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" style="width: 100px;" onclick="show('all')" class="btn btn-secondary">All</button>
        <button type="button" style="width: 100px;" onclick="show('ups')" class="btn btn-success">Ups</button>
        <button type="button" style="width: 100px;" onclick="show('downs')" class="btn btn-danger">Downs</button>
      </div>

    </div>
  </div>

  <div class="container mt-5">
    <div id="services" class="row">
      <% data.forEach(function(dat) { %>
        <div class="col-6 col-sm-4 col-md-3 mb-4">
          <div class="card shadow-sm" style="height: 12rem; overflow: hidden" title="<%= dat.resultText%>">
            <div class="card-body">
              <h5 class="card-title">
                <%= dat.name %>
              </h5>
              <p class="card-text">
                <a target="_blank" href="http://<%= dat.host%>:<%= dat.port%>">
                  <%= dat.host%>:<%= dat.port%>
                </a>
                <hr>
                <span style="color: <%= dat.result? 'green': 'crimson'%>">
                  <%= dat.resultText%>
                </span>
              </p>
            </div>
          </div>
        </div>
        <% }); %>
    </div>
  </div>

  <script>
    const list = JSON.parse('<%- JSON.stringify(data) %>')
  </script>
  <script src="/static/app.js"></script>

</body>

</html>